@model IEnumerable<Estapar.Reservas.Models.Reserva>

@{
    ViewData["Title"] = "Reservas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h1>Reservas</h1>

<p>
    <a asp-action="Create">Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VeiculoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataFim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inativo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                (@Html.DisplayFor(modelItem => item.Usuario.Id)) @Html.DisplayFor(modelItem => item.Usuario.Nome)
            </td>
            <td>
                (@Html.DisplayFor(modelItem => item.VeiculoId)) @Html.DisplayFor(modelItem => item.Veiculo.Placa)
                - @Html.DisplayFor(modelItem => item.Veiculo.Marca.Descricao) - @Html.DisplayFor(modelItem => item.Veiculo.Modelo.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataFim)
            </td>
            <td>
                @if (item.Inativo == false)
                {
                    <img src="~/img/inativo.png" />
                }
                else
                {
                    <img src="~/img/ativo.png" />
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Alterar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
